@use './../../styles/variables.scss' as *;
@use './../../styles/mixins.scss' as *;

.categories {
  padding-block: 22px;
  background-color: $categories-bg-color;
}

.items {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  @include tablet-screen {
    width: 100%;
    justify-content: space-between;
  }
}

.item {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.link {
  color: $category-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.active {
  color: $active-category-color;
}
