// Colors
$main-color: #fff;
$btn-bg-color: #dd783f;
$category-color: #768088;
$subtitle-color: #2e2e2e;
$subtitle-color-line: #dedede;
$post-title-color: #101315;
$post-text-color: #7a7a7a;
$post-info-color: #999999;
$footer-title-color: #efefef;
$input-bg-color: #ffffff;
$input-text-color: #817f83;
$btn-text-color: #f8f8f8;
$categories-bg-color: #ffffff;
$posts-bg-color: #f7f7f7;
$post-bg-color: #fcfcfc;
$post-color-line: #efefef;
$burger-menu-bg-color: #000;
$active-category-color: #000;
$modal-bg-color: #fff;

// Sizes
$desktop-size: 940px;
