.footer {
  background-image: url('./img/contacts-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom {
  padding-block: 32px;
  background: rgba(35, 47, 56, 0.6);
}
