@use './styles/reset' as *;
@use './styles/fonts' as *;
@use './styles/variables' as *;
@use './styles/mixins' as *;

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
  font-family: Lora;
}

.container {
  width: 90%;
  margin-inline: auto;

  @include desktop-screen {
    width: 940px;
  }
}

a,
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}
